@inherits ListExplorerObjectsBase

@if (ListExplorerObjects != null)
{
    @foreach (var obj in ListExplorerObjects)
    {
        <DisplayExplorerObject
            @ref="ChildDisplayExplorerObject"
            ExplorerObject="obj"
            OnGoToRoute="GoToRoute"
            OnGoToRouteFromHistory="DisplayObjects"
            OnSortedObjects="DisplaySortedObjects"/>
    }
}
else
{
    <div class="spinner"></div>
}