@inherits ListExplorerObjectsBase

@if (ListExplorerObjects != null)
{
    @foreach (var obj in ListExplorerObjects)
    {
        <DisplayExplorerObject ExplorerObject="obj" OnRoute="RefreshDisplayExplorer"/>
    }
}
else
{
    <div class="spinner"></div>
}