@inherits NavigateExplorerBarBase

<div style="display: flex;">
    <label type="submit" class="btn btn-dark" @onclick="@(e => EventRoute.InvokeAsync(false))">Back</label>
    <label type="submit" class="btn btn-dark" @onclick="@(e => EventRoute.InvokeAsync(true))" style="margin-left: 10px;">Next</label>
</div>