@inherits MainExplorerViewBase

<div class="container-fluid">
    @* Панель навигации
    ---------------------------------------------------------------------*@
    <div class="navigation-ex-bar">
        <component>
            <ExplorerApp.Views.Components.MainExplorerViewComponents.NavigateExplorerBar />
        </component>
    </div>

    <div class="container-fluid full-ex-contains">
        @* Дерево директории
        ---------------------------------------------------------------------*@
        <div class="tree-dir">
            <select class="form-select" aria-label="Default select example">
                <option value="app">Application directories</option>
                <option value="all">Computer directories</option>
            </select>
            <nav class="flex-shrink-0 p-3 bg-white">
                <component>
                    <ExplorerApp.Views.Components.MainExplorerViewComponents.TreeDirectories />
                </component>      
            </nav>
        </div>
        @* Представление объектов папки
        ---------------------------------------------------------------------*@
        <div class="list-group list-group-item overflow-auto list-explorer-obj">
            <component>
               <ExplorerApp.Views.Components.MainExplorerViewComponents.ListExplorerObjects />
            </component>
        </div>

    </div>
</div>

