@inherits MainExplorerViewBase

<div class="d-flex" style="display: inline-block; float: left; width: 100%">

    @* Дерево директорий
    ---------------------------------------------------------------------*@
    <div class="tree-dir">
        <select class="form-select" aria-label="Default select example">
            <option value="app">Application directories</option>
            <option value="all">Computer directories</option>
        </select>
        <nav class="flex-shrink-0 p-3 bg-white">
            <component>
                <ExplorerApp.Views.Components.MainExplorerViewComponents.TreeDirectories />
            </component>      
        </nav>
    </div>

    <div class="nav-and-content-exp-view">

        @* Панель навигации
        ---------------------------------------------------------------------*@
        <div class="nav-ex-bar">
            <component >
                <ExplorerApp.Views.Components.MainExplorerViewComponents.NavigateBar OnNavChangeRouteBackOrNext="SwitchRouteDirection"/>
            </component>
        </div>
        
        @* Представление объектов папки
        ---------------------------------------------------------------------*@
        <div class="list-group w-100 overflow-auto list-exp-obj" style="margin-left: 0px; margin-right: 0px; max-width: inherit; padding: 5px">
            <component >
                <ExplorerApp.Views.Components.MainExplorerViewComponents.ListExplorerObjects/>
            </component>
        </div>

    </div>
</div>

