/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
--------------------------------------------------*/
html {
  font-size: 14px;
}
@media (min-width: 920px) {
  html {
    font-size: 16px;
  }
  .container {
    max-width: 1920px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow: hidden;

  max-width: 1920px;; 
  min-height: 100%;
  max-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

div.container-image {
  display: block;
  width: 0px;
  margin: 0px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.form-select {
  margin-bottom: 10px;
}

a.navbar-brand {
  vertical-align: top;
  margin-left: 10px;
}

/* Логотип ExplorerApp
--------------------------------------------------*/
img.img-logo {
  margin-right: 5px;
  float: left;
  -webkit-filter: drop-shadow(1px 1px 1px #888);
  filter: drop-shadow(1px 1px 1px #888);
}

/* Курсоры
--------------------------------------------------*/
.cursor-def{
  cursor: default;
}
.cursor-ptr{
  cursor: pointer;
}

/* Заглушка во время загрузки данных
--------------------------------------------------*/
.spinner {
  border: 16px solid silver;
  border-top: 16px solid #337AB7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top: 40%;
  left: 55%;
  position: fixed;
}
@keyframes spin {
  0% {
      transform: rotate(0deg)
  }

  100% {
      transform: rotate(360deg)
  }
}

/* Бар навигации
--------------------------------------------------*/
.navigation-ex-bar{
  max-height: 60px;

  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;

  border-radius: .3rem;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 1px 1px 1px;
}

/* Дерево и представление элементов папки
--------------------------------------------------*/
.full-ex-contains{
  display: inline-flex;

  max-height: 77vh;
  min-height: 77vh;

  margin-top: 0px;
  padding: 0px;
}
.tree-dir{
  float: left;

  margin: 0px;
  min-width: 320px;
  margin-right: 10px;
  padding: 10px;

  max-height: inherit;
  min-height: inherit;

  border-radius: .3rem;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 1px 1px 1px;
}
.list-explorer-obj {
  float: left;

  padding: 5px;
  max-height: inherit;
  min-height: inherit;
}

/* Кнопки панели навигации
--------------------------------------------------*/
.img-btn-shadow{
  cursor: pointer;
  margin-right: 5px;
  float: left;
  -webkit-filter: drop-shadow(1px 1px 1px rgb(15, 15, 15));
  filter: drop-shadow(1px 1px 1px #888);
}
.btn-nav-m{
  margin-right: 10px;
  margin-left: 10px
}

/* Стрелки
--------------------------------------------------*/
.arrow {
  height: 20px;
  position: relative;
  width: 10px;
  background: black;
  margin: 10px;
  display: inline-block;
}
.arrow:before {
  content: " ";
  width: 10px;
  background: black;
  height: 35px;
  position: absolute;
  top: -10px;
  transform: rotate(50deg);
  left: -10px;
}
.arrow:after {
  content: " ";
  width: 10px;
  background: black;
  height: 35px;
  position: absolute;
  top: -10px;
  transform: rotate(-50deg);
  right: -10px;
}
.left {
  transform: rotate(-90deg);
}
.right {
  transform: rotate(90deg);
}
.half-left {
  transform: rotate(-45deg);
}
.half-right {
  transform: rotate(45deg);
}

/* Кнопки навигации
--------------------------------------------------*/
.btn-dark,
input[type="submit"]{
    border:solid 0.5px rgba(0, 0, 0, .15);
    background: transparent;
    color: #1f1f1f;
}
.btn-dark:hover,
input[type="submit"]:hover,
.btn-dark.active{
    border:solid 0.5px rgba(0, 0, 0, .15);
    background: #1f1f1f;
    color: #fff;
}
.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
