@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-6" style="margin-block: 20px;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Application directory</h5>
            <p class="card-text">Only application directories will be displayed.</p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Explorer">Go to display</a>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">All computer Directory</h5>
            <p class="card-text">All directories of the computer will be displayed.</p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Explorer">Go to display</a>
        </div>
    </div>
</div>